section {
    padding-top: 128px;
}

.btn {
    border: 3px solid black;
    border-radius: 24px;
}

.btn:hover, .btn.active {
    background-color: black;
    color: white;
}

.navbar {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.home {
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.home h1 {
    font-size: 72px;
}

.home h3 {
    font-size: 48px;
}

.home .row img {
    width: 350px;
}

.home .arrow {
    position: absolute;
    bottom: 30px;
}
.home .arrow i {
    font-size: 50px;
}

#arrow {
    animation: 2s upDown infinite;
}

.line {
    width: 120px;
    height: 3px;
    background-color: black;
}

.profile {
    padding-top: 80px;
    min-height: 100vh;
}

.contact {
    padding-top: 20px;
    margin-bottom: 40px;
}

.profile-exp-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-exp-item-detail {
    display: none;
}

.contact .d-flex p {
    margin: 0 5px;
    font-size: 12px;
}

.row i {
    font-size: 30px;
}

.contact-form {
    border: 1px solid gainsboro;
    padding: 32px;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}